<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreDataZwo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BFC3ED7B1D78204100BAC946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFC3ED921D78204200BAC946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFC3ED9D1D78204200BAC946</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
